<!DOCTYPE html>
<html lang="en">
<head>
	 <% include ../partials/head %>
	<title>404</title>
</head>
<body>
<a href="/"><button margin-left:"50%">Go Home!</button></a>
	<img width="100%" src="https://d13yacurqjgara.cloudfront.net/users/1331/screenshots/255204/404.jpg">
	 <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>