<!DOCTYPE html>
<html lang="en">
<head>
	 <% include ../partials/head %>
	<title>Examine Book Further</title>
</head>
<body>
	 <p><strong><%= bookChoice.title %></strong>, written by <%= bookChoice.author %> in <%= bookChoice.date %></p>
	 <a href="/books"><button>Main Index</button></a>
	  <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>